.note-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px; }
  .note-container .buttons-container {
    display: flex;
    gap: 30px; }

/*# sourceMappingURL=note.css.map */
