button {
  height: 45px;
  width: max-content;
  border: none;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  text-transform: uppercase; }

button:hover {
  position: relative;
  left: 0;
  top: -2px; }

.button-dark-filled {
  background-color: #81B29A;
  color: white; }

.button-dark-unfilled {
  border-style: solid;
  border-width: 1px;
  border-color: #81B29A;
  background-color: white;
  color: #81B29A; }

.button-light-filled {
  background-color: #F4F1DE;
  color: #81B29A; }

.button-link {
  background: none;
  color: darkgrey;
  text-decoration: underline;
  height: fit-content;
  width: fit-content;
  padding: 0; }

.button-link:hover {
  color: grey; }

/*# sourceMappingURL=buttons.css.map */
