@import "./../../stylesheets/colors";

$button-height: 45px;
$border-radius: 30px;

button {
  $side-padding: 30px;

  height: $button-height;
  width: max-content;
  border: none;
  border-radius: $border-radius;
  padding-left: $side-padding;
  padding-right: $side-padding;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  position: relative;
  left: 0;
  top: -2px;
}

.button-dark-filled {
  background-color: $green;
  color: white;
}

.button-dark-unfilled {
  border-style: solid;
  border-width: 1px;
  border-color: $green;
  background-color: white;
  color: $green;
}

.button-light-filled {
  background-color: $beige;
  color: $green;
}

.button-link {
  background: none;
  color: darkgrey;
  text-decoration: underline;
  height: fit-content;
  width: fit-content;
  padding: 0;
}

.button-link:hover {
  color: grey;
}
