/*
Error: Invalid CSS after "...to', sans-serif": expected "{", was ";"
        on line 3 of fonts.scss

1: @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');\
2: 
3: $heading-1: 55px 'Lato', sans-serif;
4: $plain-text: 16px 'Lato', sans-serif;
5: $caption-text: 14px 'Lato', sans-serif;

Backtrace:
fonts.scss:3
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1308:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1238:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1233:in `tok!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:688:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:681:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:707:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:700:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:137:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:414:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:383:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:18:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...to', sans-serif\": expected \"{\", was \";\"\A         on line 3 of fonts.scss\A \A 1: @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');\\A 2: \A 3: $heading-1: 55px 'Lato', sans-serif;\A 4: $plain-text: 16px 'Lato', sans-serif;\A 5: $caption-text: 14px 'Lato', sans-serif;"; }
