header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px; }
  header a {
    text-decoration: none;
    cursor: pointer; }

/*# sourceMappingURL=header.css.map */
