.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px; }

textarea {
  min-height: 400px; }

input {
  height: 30px; }

/*# sourceMappingURL=text_input.css.map */
