@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column; }

h1 {
  font: 55px "Lato", sans-serif;
  font-weight: bold;
  color: #3D405B; }

p, span, label, details, li, div, textarea, input {
  font: 16px "Lato", sans-serif; }

.caption-text {
  font: 14px "Lato", sans-serif;
  font-style: italic; }

.validation-error {
  font: 14px "Lato", sans-serif;
  color: red; }

/*# sourceMappingURL=index.css.map */
