@import "./stylesheets/fonts";
@import "./stylesheets/colors";

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

h1 {
  font: $heading-1;
  font-weight: bold;
  color: $dark-blue;
}

p, span, label, details, li, div, textarea, input {
  font: $plain-text;
}

.caption-text {
  font: $caption-text;
  font-style: italic;
}

.validation-error {
  font: $caption-text;
  color: red;
}
